@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Coordonnées du support.</p>


<address>
    <strong>Support:</strong>   <a href="ophelie.cluzel@gmail.com">ophelie.cluzel@gmail.com</a><br />
    
</address>